@import url('https://fonts.googleapis.com/css?family=Roboto');
$standard-font: 'Roboto', sans-serif;
$screen-sm: 960px;

.sidenav-container{
  height: 100%;
  font-family: $standard-font;

}
.sidenav-container md-sidenav{
  overflow: hidden;
}
.messages-header{
  img{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
}

md-list-item{
  img{
    width: 49px !important;
    height: auto !important;
  }
  .preview-message{
    display: inline;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
  }
}
.header-image{
  height: 75%;
  margin-top: 16px;
}

@media only screen and (max-width: $screen-sm) {

  .md-sidenav-left{
    width: 100% !important;
    max-width: 100% !important;
  }

}

