<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Oskars skit</title>
	<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body>
	<section ng-controller="chatSection" class="chatSection">
		<div class="container-fluid">
			<div class="row chatContainer" ng-repeat="n in testChat">
				<div class="col-xs-12" ng-if="n.author == 'other'">
					<img src="{{n.image}}" class="left {{n.status}}"><div class="pmContainerLeft"><p>{{n.message}}</p></div>
				</div>
				<div class="col-xs-12 text-right" ng-if="n.author == 'you'">
					<img src="{{n.image}}" class="right {{n.status}}">
					<div class="pmContainerRight"><p>{{n.message}}</p></div>
				</div>
			</div>
			<ng-form novalidate>
				<div class="row PMSection">
					<div class="col-xs-12 ">
						<textarea name="SendPM" placeholder="Write a message..." ng-model="message.content" auto-resize>{{message.content}}</textarea>
						<button type="submit" class="fa fa-rocket"></button>
						<div class="icon-wrapper pull-right">
							<a href="#" class="fa fa-paperclip"></a>
							<a href="#" class="fa fa-smile-o"></a>
						</div>
					</div>
				</div>
			</ng-form>
		</div>

	</section>
</body>
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower_components/angular/angular.js"> </script>
<script src="../assets/js/scripts-oskar.js"></script>
</html>
