<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
</head>
<body class="app-login">
   <div class="container-fluid">
       <div class="row">
            <div class="col-xs-12 login-header text-center">
                <img src="../assets/img/unicorn.png">
                <h1 class="logo">Users chat</h1>
            </div>
       </div>
       <div class="row">
            <div class="col-sm-8 col-sm-offset-2 login-window">
                <h1>Login now</h1>
                <h2>Unicorns be waiting</h2>
                <form class="form-inline" id="login-form">
                    <div class="form-group">
                        <label class="sr-only" for="username">Username</label>
                        <input type="email" class="form-control" id="username" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <input type="submit" class="login-button" value="Sign in">
                </form>
                <p>Don't have an account?</p>
                <a href="#" onclick="openRegisterTab()">Create account <span class="caret"></span></a>
                <div id="app-register">
                    <h3>So you wanna be a rocket scientist huh?</h3>
                    <p>Let's see what we can do. We'll need some information first though.</p>
                    <div class="col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4 text-left">
                        <form id="register-form">
                            <div class="form-group">
                                <label for="regusername">Username</label>
                                <input type="text" class="form-control" id="regusername" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label for="regemail">Email</label>
                                <input type="email" class="form-control" id="regemail" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="regpassword">Password</label>
                                <input type="password" class="form-control" id="regpassword" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="regrepeatpassword">Repeat password</label>
                                <input type="password" class="form-control" id="regrepeatpassword" placeholder="Repeat password">
                            </div>
                            <input type="submit" class="register-button" value="Register">
                        </form>
                    </div>
                </div>
            </div>
       </div>
   </div>
   <script>
   function openRegisterTab() {
        document.getElementById("app-register").style.display = "block";
   }
   </script>
</body>
</html>
