<section class="newsSection">
    <div class="container-fluid">
        <div class="row">
            <header class="main-content-header col-xs-12">
                <p>Messages</p>
            </header>
        </div>
        <div ng-repeat="n in fakeNews">
            <div class="row newsContainer">
                <div class="col-xs-3">
                    <img src="{{n.image}}" class="profileImage {{n.status}}">
                </div>
                <div class="col-xs-3">
                    <p>{{n.author}}</p>
                </div>
                <div class="col-xs-3 text-center">
                    <p><span>{{n.excerpt}}</span></p>
                </div>
                <div class="col-xs-3 text-right">
                    <p><span>{{n.time}}</span></p>
                </div>
            </div>
        </div>
    </div>
</section>
