
<section class="profileSection">
    <div class="container">
        <div class="row">
            <div class="col-xs-2" ng-model="imgSrc">
                <img src="{{ imgSrc }}" class="profileImg" />
            </div>
            <div class="col-xs-4">
                <br />
                <p class="title">Name: <i class="fa fa-wrench"></i></p>
                <p ng-model="showName">{{ showName }}</p>
                <p class="title">Username: <i class="fa fa-wrench"></i></p>
                <p ng-model="userName">@{{ userName }}</p>
                <input type="button" class="passwordButton btn btn-danger" value="Change password">
            </div>
        </div>
        <div class="row profileDivider"></div>
        <div class="row">
            <div class="col-xs-4">
                <p class="title">Email: <i class="fa fa-wrench"></i></p>
                <p ng-model="yourEmail">{{ yourEmail }}</p>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <p class="title">Bio: <i class="fa fa-wrench"></i></p>
                <p ng-model="yourInfo">{{ yourInfo }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <p class="title">Theme:</p>
                <input ng-model="$root.lightTheme" type="checkbox" body-class />
            </div>
        </div>
    </div>
</section>
