@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
}

html, body, .app-window, .set-height, .sidebar, .chat-window {
    height: 100%;
}

.sidebar, .chat-window {
    overflow-y: scroll;
    position: relative;
}

.sidebar {
    border-right: 1px solid #eee;
}

.from-current {
    text-align: right;
}

.messages article {
    margin-bottom: 10px;
}

    .messages article span.author {
        display:block;
    }

    .messages .content {
        display: inline-block;
        background-color: #eee;
        padding: 5px 10px;
        border-radius: 8px;
        max-width: 80%;
    }

.optionbar {
    color: #939393;
}
    
    .optionbar i {
        display:block;
        margin-bottom: 10px;
    }

        .optionbar i:hover {
            color: #337ab7;
        }

.login .content-wrap {
    margin-top: 200px;
}
    
    .login .register-tab {
        margin-top: 40px;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.4s linear;

    }
