.light {
    color: black;
    #page-content-wrapper, section.chatSection, section.chatSection .PMSection, section.newsSection, section.profileSection {
        background-color: $secondaryBgColor;
    }
    .profileSection {
        color: black;
    }
    #sidebar-wrapper {
        background-color: $secondarySidebarBgColor;
        color: $secondaryTextColor;
        font-family: $primaryFont;
        box-shadow: 3px 0 10px 0 rgba(0, 0, 0, 0.3);

        a {
            &:link, &:visited {
                color: $secondaryTextColor;
            }

            &:focus, &:hover {
                text-decoration: none;
            }
        }
    }

    .sidebar-brand {
        background-color: $secondaryAccentColor;
    }

    .brand-text-and-logo span {
        font-family: $primaryFont;
        color: $secondaryTextColor;
    }

    .main-content-header {
        border: solid $secondaryDividerColor 1px;
        font-family: $primaryFont;
        color: $secondaryTextColor;
    }

    section.sidebar-feed {
        article.sidebar-single-feed {
            border-top: solid 1px $secondarySidebarBgColor;
        }
    }


    section.chatSection {
        div {
            .pmContainer {
                background-color: $secondaryDividerColor;
                color: $secondaryTextColor;
            }
        }

        img {
            &.online {
        		box-shadow: 0px 0px 4px $secondaryUserOnlineColor;
        	}
        	&.offline {
        		box-shadow: 0px 0px 2px 1px #e5001d;
        	}
        	&.busy {
        		box-shadow: 0px 0px 2px 1px #ff5000;
        	}
        }
    }
    .PMSection {
        border-top: solid 2px $secondaryDividerColor;
        border-bottom: none;
        background-color: $secondarySidebarBgColor !important;
        a {
            color: $secondaryTextColor;
        }

        button {
            background-color: transparent;
            color: $secondaryAccentColor;
        }
    }
    .form-wrapper {
        background: $secondarySidebarBgColor;
        border-top: solid 2px $secondaryDividerColor;
    }
    .icon-wrapper {
        .fa{
            color: grey;
        }
        button {
            background-color: transparent;
            color: $primaryAccentColor !important;
        }
    }

    section.newsSection {
    	.newsContainer {
    		border-bottom: 2px solid $secondaryDividerColor;
    		border-top: 2px solid $secondaryDividerColor;
            img {
                height: 45px;
                width: 45px;
                border-radius: 50%;
                margin-left: 5%;
            }

        	img.online {
        		box-shadow: 0px 0px 4px $secondaryUserOnlineColor;
        	}

        	img.offline {
        		box-shadow: 0px 0px 2px 1px #e5001d;
        	}

        	img.busy {
        		box-shadow: 0px 0px 2px 1px #ff5000;
        	}

        	p {
        		color: $secondaryTextColor;

        		span {
        			color: #95989A;
        		}
        	}
        }
    }

    section.profileSection {
        .profileDivider {
            border-bottom: $secondaryDividerColor 2px solid;
        }
    }
}
