$primaryLoginBg: #008CED;
$secondaryLoginBg: #008CED;
$tertriaryLoginBg: #fff;

$primaryLoginText: #95989A;
$secondaryLoginText: #fff;

.app-login {
    background-color: $primaryLoginBg;
    color: $primaryLoginText;

    h1 {
        font-weight: 400;
        font-size: 40px;
    }

    h2, h3 {
        font-weight: 300;
    }

    .login-header {
        background-image: url('../img/login-deco.png');
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center center;
        min-height: 527px;
        z-index: 10;
    }

    .login-window {
        background-color: $tertriaryLoginBg;
        margin-top: -300px;
        padding-top: 180px;
        padding-bottom: 20px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.4) 0 0 4px;

        .login-button, .register-button {
            display: block;
            margin: 10px auto;
            padding: 15px 70px;
            border-radius: 10px;
            background-color: $primaryLoginBg;
            border: none;
            color: $secondaryLoginText;
        }

        .register-button {

        }
        
        #login-form {z-index: 20;}
        #app-register {display: none;}
    }
}
