section.chatSection {
    background-color:$primaryBgColor;
    margin: 0;
    overflow-y: scroll;
    height: 350px;
    padding-bottom: 120px;

.chatContainer{
    .pmContainer {
        background-color: $primaryDividerColor;
        color: white;
        padding: 15px 20px 6px 20px;
        margin: 10px 5px;
        border-radius: 20px;
        display: inline-block;
        max-width: 50%;
    }
}

    img {
        width: 50px;
        height: 50px;
        margin: 10px 5px;
        border-radius: 30px;
        display: inline-block;

        &.online {
            box-shadow: 0px 0px 4px $primaryUserOnlineColor;
        }
        &.offline {
            box-shadow: 0px 0px 2px 1px #e5001d;
        }
        &.busy {
            box-shadow: 0px 0px 2px 1px #ff5000;
        }
    }
}

.form-wrapper {
    margin: 0;
}

.PMSection {
    border-top: solid 2px $primaryDividerColor;
    padding: 18px 10px 20px 10px;

    bottom: 0px;

    border-bottom: solid 2px $primaryDividerColor;
    background-color: $primaryBgColor;
    .icon-wrapper {
        padding-left: 20px;
        bottom: 0;
        right: 20px;
        position: absolute;
        a.fa-paperclip {
            margin-right: 15px;
        }
        a.fa {
            display: inline-block;
            &:hover {
                text-decoration: none;
            }
        }
    }
    textarea {
        outline: 0;
        resize: none;
        width: 90%;
        border-radius: 5px;
        height: 40px;
        padding: 7px 10px 7px;
        overflow: hidden;
        word-wrap: break-word;
    }
    a {
        font-size: 40px;
        color: white;
    }
    button {
        background-color: transparent;
        color: $primaryAccentColor;
        border: none;
        font-size: 35px;
        z-index: 99;
    }
}

section.newsSection {
    background-color: $primaryBgColor;

    .newsContainer {
        height: 80px;
        border-bottom: 2px solid $primaryDividerColor;
        border-top: 2px solid $primaryDividerColor;
        vertical-align: center;

        img.profileImage {
            width: 60px;
            height: 60px;
            display: inline-block;
            float: left;
            margin: 10px 5px;
            border-radius: 30px;
        }
        img {
            &.online {
                box-shadow: 0px 0px 4px $primaryUserOnlineColor;
            }
            &.offline {
                box-shadow: 0px 0px 2px 1px #e5001d;
            }
            &.busy {
                box-shadow: 0px 0px 2px 1px #ff5000;
            }
        }

        p {
            color: white;
            margin-top: 25px;
            margin-right: 40px;

            span {
                color: #95989A;
            }
        }
    }
}
